# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
.DS_Store

# VSCode
.vscode/

# Output and Artifacts
output/
*.log
*.tmp
*.bak

# Environment variables
.env

# OS
Thumbs.db
